# dependencies
node_modules

# logs
npm-debug.log

# Environment Variables
.env
env.json

.DS_Store

lib

wallet.json

# yarn.lock works better with heroku, but npm works better for typescript development
package-lock.json
